@{
    ViewBag.Title = "Home";
}


<h1>Welcome to Launchcode's TechJobs App!</h1>
@*
    //replace this portion by using techjobscontrollser OOP and using Http.ActionLink() in _layout.cshtml
    <p>View jobs by:</p>
    <ul>
        @foreach (KeyValuePair<string, string> action in ViewBag.actions)
        {
            <li><a href="/@action.Key">@action.Value</a></li>
        }
    </ul>

*@